<div class='side-wrapper'>
  <div class='ranking-content'>
    <div class='ranking-books'>
      <h2>Ranking</h2>
      <% @ranking.each_with_index do |rank, i| %>
        <p><%= i +=1 %>.<%= rank.first %></p>
      <% end %>
    </div>
  </div>
</div>