<div class='wrapper'>
  <div class='side-wrapper'>
    <%= render 'side_ber' %>
  </div>
  <div class='main-screen'>
    <%= render partial: 'main_content', locals: { books: @books } %>
  </div>
</div>