
<div class="main-container">
  <% @books.each do |book| %>
    <% unless Book.nil? %>
    <div class="book-item">
      <%= "タイトル：#{book.title}" %>
      <%= "著者：#{book.author}" %>
      <p><%= book.impression %></p>
    </div>
    <% end %>
  <% end %>
</div>