<%= render partial: 'header_layout' %>

<div class="screen-field">
  <div class='side-wrapper'>
    <%= render partial: 'side_ber' %>
  </div>
  <div class='main-wrapper'>
    <%= render partial: 'main_books' %>
  </div>
</div>

<%= render partial: 'footer_layout' %>
