/* header */
header {
  height: 80px;
  width: 100%;
  background-color: #253141;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  display: flex;
}

.app-title {
  color: #ffffff;
  padding-left: 20px;
}

.app-title a {
  color: #fff;
  text-decoration: none;
}

.user-guide a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

/* Footer */
footer {
  height: 60px;
  width: 100%;
  background-color: #253141;
  position: relative;
}

.guide-under {
  text-align: right;
}

.guide-under a {
  display: inline-block;
  align-items: center;
}

/* Main Screen and Side Ber */
.screen-field {
  display: flex;
  height: calc(100vh - 160px);
}

.side-wrapper {
  width: 25%;
  background-image: url(/images/1174747_s.jpg);
  background-size: cover;
}

.main-wrapper {
  height: calc(100vh - 160px);
  width: 75%;
  background-image: url(/images/4022608_m.jpg);
  background-size: cover;
  overflow: scroll;
}

/* Main Screen */

.book-item {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px;
  color: #000;  
}

.book-anchor {
  text-decoration: none;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

/* Log In and Sign Up and New Posts */
.main-field-wrapper {
  padding: 30px;
}

/* Ranking */
.ranking-content {
  height: calc(100vh - 160px);
  width: 25%;
  background: rgba(255,255,255,0.6);
  position: absolute;
  overflow: scroll;
}

.ranking-books {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Books Show */
.show-info {
  padding: 30px;
}

.post-user {
  text-align: right;
  font-weight: bold;
}

/* Users Show */
.user-show {
  margin: 0 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  display: flex;
}

.book-check {
  margin: auto 0;
  padding: 10px;
}

.nickname-user-info {
  padding-left: 50px;
  font-weight: bold;
  font-size: large;
}