a {
  text-decoration: none;
  color: #000;
}

/* header */
header {
  height: 80px;
  width: 100%;
  background-color: #253141;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  display: flex;
}

.app-title {
  color: #ffffff;
  padding-left: 20px;
}

.app-title a {
  color: #fff;
  text-decoration: none;
}

.user-guide a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

/* Footer */
footer {
  height: 60px;
  width: 100%;
  background-color: #253141;
  position: relative;
}

.guide-under {
  text-align: right;
}

.guide-under a {
  display: inline-block;
  align-items: center;
}

/* Main Screen and Side Ber */
.screen-field {
  display: flex;
  height: calc(100vh - 160px);
}

.side-wrapper {
  width: 25%;
  background-image: url(/images/1174747_s.jpg);
  background-size: cover;
}

.main-wrapper {
  height: calc(100vh - 160px);
  width: 75%;
  background-image: url(/images/4022608_m.jpg);
  background-size: cover;
  overflow: scroll;
}

/* Main Screen */
.item-wrapper {
  border-bottom:  1px solid #000;
}

.book-info {
  display: flex;
  justify-content: space-between;
}

/* Log In and Sign Up and New Posts */
.main-field-wrapper {
  padding: 30px;
}

/* Ranking */
.ranking-content {
  height: calc(100vh - 160px);
  width: 25%;
  background: rgba(255,255,255,0.6);
  position: absolute;
  overflow: scroll;
}

.ranking-books {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Books Show */
.show-info {
  padding: 30px;
  text-align: center;
}

.show-info span {
  font-weight: bold;
}

.item-impression, .comment-container {
  display: block;
  width: 50%;
  margin: 0 auto;
  /* padding: 0 100px; */
}

/* Users Show */
.user-show {
  margin: 0 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.user-nickname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 0 50px;
  font-weight: bold;
  font-size: large;
}

.guide-show a {
  border: 2px solid #000;
  padding: 5px;
  font-weight: bold;
  display: block;
  align-items: center;
  width: 50px;
  text-align: center;
  margin-bottom: 10px;
}

/* Comment area */
.comment-form {
  width: 100%;
  margin-bottom: 5px;
}